{% url 'user-dashboard' as dashboard %}
{% url 'blog-home' as blog_home %}
{% url 'account_login' as login %}
{% url 'account_signup' as signup %}
{% url 'account_logout' as logout %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mitul Patel">

    <title>{% block title %}{% endblock title %}</title>


{% block css %}

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">  
    <link href="/static/css/custom.css" rel="stylesheet">  

{% endblock css %}

{% block extra_css %}
{% endblock extra_css %}
</head>

<body>

    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Micro Blog App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto"> 
              <li class="nav-item">
                <a class="nav-link {% if request.path == blog_home %} active {% endif %}" href="{% url 'blog-home' %}">Home</a>
              </li>
            {% if user.is_anonymous %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == login %} active {% endif %}" href="{% url 'account_login' %}">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == signup %} active {% endif %}" href="{% url 'account_signup' %}">Sign Up</a>
              </li>
            {% else %}
              
              <li class="nav-item">
                <a class="nav-link  {% if request.path == dashboard %} active {% endif %}" href="{% url 'user-dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  {% if request.path == logout %} active {% endif %}" href="{% url 'account_logout' %}">Log Out</a>
              </li>
            {% endif %}
          
        </ul>
      
      </div>
    </div>
  </nav>

<div class="main_content" style="margin-bottom:100px;">

    <div class="container">

        

  {% block content %}

  {% endblock %}

  </div>
  <!-- /.container -->

</div>

<!-- Footer -->
  <footer class="py-5 bg-dark footer">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Micro Blog  2023</p>
    </div>
    <!-- /.container -->
  </footer>

{% block js %}
    
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>

{% endblock js %}

{% block extra_js %}
{% endblock extra_js %}

  </body>

</html>
